<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../public/Css/login-adm.css">
  <title>Login ADM</title>
</head>
<body class="login-adm-body">
  <div class="login-adm">
    <div class="login-adm-header">
      <img src="../../Imagens/logo_club.png" alt="Logo">
    </div>
    <div class="login-adm-body">
      <h2>Login Administrativo</h2>
      <form>
        <input type="email" placeholder="E-mail" required>
        <input type="password" placeholder="Senha" required>
        <a href="painel-adm.html" class="login-adm-btn">Entrar</a>
      </form>
      <!-- <div class="login-adm-esqueci">
        <a href="esqueci-senha.html">Esqueci minha senha</a>
      </div> -->
    </div>
    <div class="login-adm-footer">
      É um cliente? <a href="../../Views/login.html">Acesse aqui!</a>
    </div>
  </div>
</body>
</html>
