<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="../public/Css/promocoes-style.css">
</head>
<body-promocoes>
    <div class="promocoes-container">

  <h2 class="promocoes-titulo">Catálogo de Promoções</h2>

  <div class="promocoes-card promocoes-card-1">
    <img src="../public/Imagens/catalogo-teste-01.jpg" alt="Produto 1" class="promocoes-img">
    <div class="promocoes-info">
      <h3 class="promocoes-nome">Promoção Semanal</h3>
      <p class="promocoes-descricao">Confira as promoções semanais!</p>
    </div>
  </div>

  <div class="voltar-container">
   <a href="buyathome.html" class="btn-voltar-promocoes">
    <i class="fa-solid fa-arrow-left"></i> Voltar
  </a>
</div>

</div>
</body>
</html>

